


.prodCard{
  border-radius: 10px;
  width: 50%;
  margin: auto;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 5px;
  margin-top: 40px ;
}

.prodCard:hover{
transition: 0.5s;
background-color: white;
color: black;
cursor: pointer;
border: 20px solid black;
font-size: 40px;
}

.form{
  border: 1px dashed black;
  padding: 40px;
  margin-top: 40px;
  width: 60%;
  font-size: 20px;
}

.mR{
  margin-right: 10px;
}

.m5{
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.formInput{
  font-size: 20px;
}

.formBtn{
  border-radius: 10px;
  padding: 10px 30px;
  color: white;
  font-weight: bold;
}

.green{
  background-color: green;
}

.orange{
  background-color: orangered;
}

.formBtn:hover{
  background-color: white;
  color: black;
  transition:0.5s;
  cursor: pointer;
  border: 1px solid black;
}